tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

table {
  height: 100%;
  display: table-row-group;
  margin-bottom: 8rem;
  line-height: none;
}

tbody {
  overflow-y: scroll;
  max-height: 74vh;
  width: auto;
  position: absolute;
  padding-bottom: 2rem;
}

span{
  margin-right: 1rem;
}