<table class="table table-fixed table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th *ngFor="let item of titles_array">{{item}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of registries; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>
        <span>{{item.name}}</span>
      </td>
      <td>
        <i *ngIf="item.signin==true" class="fas fa-sign-in-alt" [class.text-success]="item.late==false" [class.text-danger]="item.late==true"></i>
      </td>
      <td>{{item.time | date:'hh:mm:ss a'}}</td>
    </tr>
  </tbody>
</table>
