<form #t="ngForm" (ngSubmit)="onSubmit(t)" novalidate class="pr-form row">

  <div class="form-group col-md-10">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-key" aria-hidden="true"></i>
      </span>
      <input ngModel required #name="ngModel" type="text" class="form-control" name="name" id="name" placeholder="Enter your key here . . ."
      />
    </div>
  </div>

  <div class="form-group col-md-2">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Sign</button>
  </div>

</form>
