<div class="container">
  <pr-timer (timeEmitter)="getTimer($event)"></pr-timer>
  <pr-sign-form (text_field)="handlePersonRegistry($event)"></pr-sign-form>
  <div *ngIf="class" class="text-center alert alert-{{class}}" role="alert">
  <strong>{{title}}</strong>{{msg|uppercase}}
  </div>
  <div class="row">
    <div class="col-lg 4">
      <pr-image-box></pr-image-box>
    </div>
    <div class="col-lg-8">
      <pr-list [registries]="entries" [titles_array]="titles"></pr-list>
    </div>
  </div>
</div>
