/* You can add global styles to this file, and also import other style files */

.toast {
  top: 8rem;
  border-top: 3px solid white;
  border-radius: .5rem !important;
}

/* --------------- Media Queries -------------------- */

/* iPad */

@media screen and (max-width:768px) {
  table.table tbody {
    width: 96%;
  }
}

@media screen and (max-width:600px) {
  span.image-box img {
    display: none;
  }
}

/* iPhone 7 Plus */

@media screen and (max-width:414px) {
  table.table tbody {
    width: 93%;
  }
}

/* iPhone X */

@media screen and (max-width:375px) {
  table.table tbody {
    width: 92%;
  }
}
